body{
	margin: 0;
}
#header{
	background: linear-gradient( to bottom, #2E2E2E, #1C1C1C) repeat scroll 0% 0% transparent;
	height: 120px;
}
#headerContent{
	position: relative;
	width: 940px;
	height: 104px;
	margin:auto;
}
img[alt="rcLogo"] {
	float: left;
	padding-top: 10px;
	margin-right: 40px;
	height: 100px;
}

#headerMenu{
	position: absolute;
	left: 200px;
}

a{	
	margin: 10px;
	text-decoration: none;
}

.menuitem{
	display: block;
	position: relative;
	top: 30px;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
	line-height: 16px;
	float: left;
	font-size: 20px;
	color: #b8b6b4;
	text-transform: uppercase;
	font-family: gabriola;
}

table{
	border-collapse: collapse;
	border-color:black;
}
.steam{
	background-color: black;
}
.skyscanner{
	background-color: #34363E;
}
.minutemail{
	background-color: #5882FA;
}
td:nth-child(2n){
	background-color: #D8D8D8;
}

#conteudo{
	padding: 20px;
	position: relative;
	width: 940px;
	margin:auto;
}

tr img{
	width: 200px;
	padding: 0;
	margin: 5px;
}
